/* --------------------- GLOBAL------------------------ */
body {
    opacity: 1;
    transition: 3s opacity;
}

section {
  opacity: 1;
  transition: 3s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
html {
    background-color: #fff;
}

/* Fix extra space in browser */

html,body
{
    overflow-x: hidden;
}

/* --------------------- GLOBAL CLASSES------------------------ */
.light-color {
  background-color: #fff;
  color: black
}

.dark-color {
  background-color: #222222;
  color: white;
}

.green-button {
  background-color: #33cc33;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.green-button_2 {
  background-color: #33cc33;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4%;
}

.lg-topspace {
  margin-top: 40px;
}

.xl-topspace {
  margin-top: 100px;
  margin-bottom: 40px;
}

.margin-space {
  margin-bottom: 140px;
}

.sm-margin-space {
  margin-bottom: 40px;
}

::selection {
  background-color: #33cc33;
}

header {
  position: static;
}

.footerlink {
  color: white;
}

.footergreen {
  color: #333;
}

/* --------------------- GLOBAL ELEMENTS------------------------ */

/* --------------------- GLOBAL STYLES------------------------ */

/* --------------------- GLOBAL MEDIA QUERIES------------------------ */


/* --------------------- ||||| INTRO ||||| ------------------------ */
#intro {
  background-image: url("../images/forest.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 800px;
  color: white;
}
/* --------------------- INTRO ID's------------------------ */
#intro-heading {
  font-size: 4em;
  margin-top: 300px;
}

#intro-paragraph {
  font-size: 3em;
}

#intro-paragraph {
  font-style: italic;
}

/* --------------------- INTRO ELEMENTS------------------------ */

/* --------------------- INTRO STYLES------------------------ */

/* --------------------- INTRO MEDIA QUERIES------------------------ */
@media only screen and (max-width : 900px) {
  #intro {
    height: 600px;
  }

  #intro-heading {
    margin-top: 70px;
    font-size: 2em;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }

  #intro-paragraph {
    font-size: 1.4em;
    width: 85%;
    margin: auto;
  }

  .lg-topspace {
    margin-top: 70px;
  }
}

/* --------------------- ||||| WORK THAT I DO ||||| ------------------------ */

/* --------------------- WORK ID's------------------------ */
#py-icon {
  color: green;
}
/* --------------------- GLOBAL ELEMENTS/ ADD ON's ------------------------ */
i {
  font-size: 100px;
}
/* --------------------- WORK STYLEs------------------------ */

/* --------------------- WORK MEDIA QUERIES------------------------ */
@media only screen and (max-width : 900px) {
  .xl-topspace {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

/* --------------------- ||||| PORTFOLIO SECTION ||||| ------------------------ */

/* --------------------- PORTFOLIO ID's ------------------------ */
#portfolio p {
  margin-top: 5px;
}
/* --------------------- PORTFOLIO ELEMENTS / ADD ON's------------------------ */

/* --------------------- PORTFOLIO STYLES ------------------------ */

/* --------------------- PORTFOLIO MEDIA QUERIES ------------------------ */


/* ---------------------||||| ABOUT ME ||||| ------------------------ */
/* --------------------- ABOUT ID's------------------------ */
#profile-pic {
  border-radius: 50%;
}

#github-icon {
  color: black;
  font-size: 35px;
}

#codepen-icon {
  color: black;
  font-size: 35px;
}

/* --------------------- ABOUT ELEMENTS / ADD ON's------------------------ */
/* --------------------- ABOUT STYLES------------------------ */
/* --------------------- ABOUT MEDIA QUERIES ------------------------ */

/* --------------------- ||||| CONTACT INFO ||||| ------------------------ */

/* --------------------- CONTACT ID's ------------------------ */
 {

}
/* --------------------- CONTACT ELEMENTS / ADD ON's------------------------ */

/* --------------------- CONTACT STYLES------------------------ */
/* --------------------- CONTACT MEDIA QUERIES------------------------ */

/* --------------------- ||||| FOOTER SECTION ||||| ------------------------ */
/* --------------------- FOOTER ID's------------------------ */
/* --------------------- FOOTER ELEMENTS / ADD ON's------------------------ */
/* --------------------- FOOTER STYLES------------------------ */
/* --------------------- FOOTER MEDIA QUERIES------------------------ */
