article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* --------------------- GLOBAL------------------------ */
body {
    opacity: 1;
    transition: 3s opacity;
}

section {
  opacity: 1;
  transition: 3s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
html {
    background-color: #fff;
}

/* Fix extra space in browser */

html,body
{
    overflow-x: hidden;
}
/*
#intro h1 {
  position: relative;
  animation-name: content;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0% {left: -1000px;}
  100% {left: 0;}
}

#intro p {
  position: relative;
  animation-name: content;
  animation-duration: .9s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0% {left: -1000px;}
  100% {left: 0;}
}

#intro a {
  position: relative;
  animation-name: content;
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0% {left: -1000px;}
  100% {left: 0;}
}

#intro .lg-topspace {
  position: relative;
  animation-name: content;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
*/
/* --------------------- GLOBAL CLASSES------------------------ */
.light-color {
  background-color: #fff;
  color: black
}

.dark-color {
  background-color: #222222;
  color: white;
}

.green-button {
  background-color: #33cc33;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.green-button_2 {
  background-color: #33cc33;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4%;
}

.lg-topspace {
  margin-top: 40px;
}

.xl-topspace {
  margin-top: 100px;
  margin-bottom: 40px;
}

.margin-space {
  margin-bottom: 140px;
}

.sm-margin-space {
  margin-bottom: 40px;
}

::selection {
  background-color: #33cc33;
}

header {
  position: static;
}

header h1 {
  margin: 0;
  margin: 10px;
}

.footerlink {
  color: white;
}

/* --------------------- GLOBAL ELEMENTS------------------------ */

/* --------------------- GLOBAL STYLES------------------------ */

/* --------------------- GLOBAL MEDIA QUERIES------------------------ */


/* --------------------- ||||| INTRO ||||| ------------------------ */
#intro {
  background-image: url("../images/forest.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 915px;
  color: white;
}
/* --------------------- INTRO ID's------------------------ */
#intro-heading {
  font-size: 4em;
  margin-top: 300px;
}

#intro-paragraph {
  font-size: 3em;
}

#intro-paragraph {
  font-style: italic;
}

/* --------------------- INTRO ELEMENTS------------------------ */
.intro-link {
  color: white;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.intro-link:hover {
  color: #33cc33;
}
/* --------------------- INTRO STYLES------------------------ */

/* --------------------- INTRO MEDIA QUERIES------------------------ */
@media only screen and (max-width : 900px) {

  header h1 {
    font-size: 25px;
    margin: 0;
    margin: 7px;
  }

  #intro {
    /*
    height: 650px; */
    height: 100vh;
  }

  #intro-heading {
    margin-top: 70px;
    font-size: 2em;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }

  #intro-paragraph {
    font-size: 1.4em;
    width: 85%;
    margin: auto;
  }

  .lg-topspace {
    margin-top: 40px;
  }

  .intro-link {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  header h1 {
    padding: -10px;
  }
}

/* --------------------- ||||| WORK THAT I DO ||||| ------------------------ */

/* --------------------- WORK ID's------------------------ */
#py-icon {
  color: green;
}
/* --------------------- GLOBAL ELEMENTS/ ADD ON's ------------------------ */
i {
  font-size: 100px;
}

/* --------------------- WORK STYLEs------------------------ */

/* --------------------- WORK MEDIA QUERIES------------------------ */
@media only screen and (max-width : 900px) {
  .xl-topspace {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  hr {
    width: 95%;
  }
}

/* --------------------- ||||| PORTFOLIO SECTION ||||| ------------------------ */

/* --------------------- PORTFOLIO ID's ------------------------ */
#portfolio p {
  margin-top: 5px;
}
/* --------------------- PORTFOLIO ELEMENTS / ADD ON's------------------------ */

/* --------------------- PORTFOLIO STYLES ------------------------ */
hr {
  color: #33cc33;
  font-size: 3px;
  width: 85%;
}

/* --------------------- PORTFOLIO MEDIA QUERIES ------------------------ */


/* ---------------------||||| ABOUT ME ||||| ------------------------ */
/* --------------------- ABOUT ID's------------------------ */
#profile-pic {
  border-radius: 50%;
}

#github-icon {
  color: black;
  font-size: 35px;
}

#codepen-icon {
  color: black;
  font-size: 35px;
}

#h {
  margin: 10px;
}

/* --------------------- ABOUT ELEMENTS / ADD ON's------------------------ */
.quotes {
  display: none;
}
/* --------------------- ABOUT STYLES------------------------ */
/* --------------------- ABOUT MEDIA QUERIES ------------------------ */

/* --------------------- ||||| CONTACT INFO ||||| ------------------------ */

/* --------------------- CONTACT ID's ------------------------ */
 {

}
/* --------------------- CONTACT ELEMENTS / ADD ON's------------------------ */

/* --------------------- CONTACT STYLES------------------------ */
/* --------------------- CONTACT MEDIA QUERIES------------------------ */

/* --------------------- ||||| FOOTER SECTION ||||| ------------------------ */
/* --------------------- FOOTER ID's------------------------ */
/* --------------------- FOOTER ELEMENTS / ADD ON's------------------------ */
/* --------------------- FOOTER STYLES------------------------ */
/* --------------------- FOOTER MEDIA QUERIES------------------------ */
